* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

header {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}



/* indecators */
.carousel-indicators {
  justify-content: flex-start;
  margin: 82px 220px;
}

/* slideshow */
.title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61;
}

h1 {
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3px;
}

p {
  font-size: 18px;
}

.button {
  border: 2px solid;
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 48px;
  font-weight: 300;
}

/* iphone X */
@media screen and (max-width: 375px) {
  .header {
    left: 0;
    top: 0;
  }
}

/* carousel */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators {
  justify-content: flex-start;
}

/* movie */
.col-12.h1 h1 {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #03a9f4;
  margin: 15px -15px;
}

.row {
  /* margin: 28px 0px; */
  padding: 10px 0px;
}

.col-12 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  position: relative;
}

.col-12::after {
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  background-image: linear-gradient(to right, #b3e5fc, #03a9f4);
  height: 4px;
  left: 0;
  bottom: -2px;
}

.movie_item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.movie_overlay {
  position: absolute;
  background: linear-gradient(to bottom, #b3e5fc, #03a9f4);
  width: 800px;
  height: 100%;
  top: 0;
  transform: skewX(45deg);
  left: -400%;
  transition: all 0.5s;
  opacity: 0.8;
}

.movie_item:hover .movie_overlay {
  left: -100%;
}

.movie_detail {
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: scale(0.8);
  left: 0;
  transition: all 0.3s;
  transform: translateY(-100px);
}

.movie_item:hover .movie_detail {
  opacity: 1;
  transform: scale(1);
  transform: translateY(-100px);
}
.movie_detail a {
  font-size: 14px;
  letter-spacing: 2px;
}
.movie_detail span {
  font-size: 16px;
}
.movie_name {
  font-size: 18px;
}
.movie_star {
  color: #fbbd61;
}

.movie_detail i {
  border: 2px solid white;
  width: 100px;
  height: 100px;
  padding: 42px 0px;
  border-radius: 50%;
}

.d-block.text-white.mb-2 {
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.movie_detail .video-play:hover {
  transform: scale(0.9);
}

.tab-content .row .fluid {
  border-radius: 10px;
  max-width: 100%;
  height: 195px;
}

.d-block.text-white.mb-2 {
  text-decoration: none;
}

/* showtime */

.showtime {
  padding: 40px 0px;
}

.showtime .nav-pills .nav-link {
  color: #03a9f4;
  background-color: white;
  font-size: 27px!important;
}

.showtime .nav-pills {
  border-bottom: 2px solid rgba(128, 128, 128, 0.16);
  margin: 50px 0px;
  position: relative;
}

.nav-item {
  position: relative;
}

.showtime .nav-item::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #b3e5fc, #03a9f4);
  width: 0%;
  height: 3px;
  transition: all 0.8s;
}

.nav-item.active::after,
.nav-item:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #03a9f4 !important;
}

.showtime_detail h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
}

.showtime_detail p {
  font-size: 13px;
  color: gray;
}

.showtime_detail .d-block.mb-4 {
  color: #ec7532;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
}

hr {
  margin: 50px 0px;
}

/* footer */
.footer {
  padding-top: 45px;
  background-color: #101010;
}

h6 {
  font-size: 16px;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2196f3;
  border: none;
}

li {
  list-style: none;
}

dl,
ol,
ul {
  margin: 20px -40px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 3px 0;
  letter-spacing: 1.5px;
  color: #fff;
}
a:hover {
  color: #29b6f6;
  text-decoration: none;
}

.back_to_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.back_to_top .back_to_top_link {
  font-size: 70px;
  color: #03a9f4;
  opacity: 0;
}

.back_to_top .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.back_to_top .cd-top--fade-out {
  opacity: 0.5;
}
.shopcart2 {
    position: fixed;
    right: 20px;
    bottom: 100px;
    font-size: 80px;
}
.shopcart2 button{
    font-size: 28px;
}
